<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Stephen Muscarella</title>
  </head>
  <body>
    <div class="container-fluid header-container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="header-full-name">Stephen Muscarella</h1>
          <h4 class="occupation-name">Solving Endless Problems in a Limitless World.</h4>
        </div>
      </div>
    </div>
    <img src="/images/stephen_muscarella.jpg" id="profile-photo"/>
    <div class="container-fluid blast-container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="blast-title">iOS Developer | Software Engineer in Test</h1>
          <h2 class="blast-subtitle">Eternal Learner - Driven Technology Enthusiast - Team Player</h2>
          <!-- Insert Arrow that points down and fades out on scroll and reappears on scroll back up -->
        </div>
      </div>
    </div>
    <div class="container-fluid education-agenda-container">
      <h2 class="section-header">Technology Agenda</h2>
      <div class="row">
        <div class="col-md-3">
          <h5 class="education-agenda-title">Coding Dojo Bootcamp</h5>
          <div class="education-circle">
            <span class="helper"></span>
            <img src="/images/graduate-cap.png"/ class="education-icon">
          </div>
          <p class="education-description" style="margin-top:18px;">3 Full Stacks in 14 Weeks</p>
          <p class="education-description">12 Hours A Day - Fast Paced</p>
          <p class="education-description">Front End - Back End - Database</p>
        </div>
        <div class="col-md-3">
          <h5 class="education-agenda-title">Mobile Engineer</h5>
          <div class="education-circle">
            <span class="helper"></span>
            <img src="/images/mobile-phone.png"/ class="education-icon">
          </div>
          <p class="education-description" style="margin-top:18px;">iOS Development</p>
          <p class="education-description">Android Development</p>
          <p class="education-description">Portable Technology Development</p>
        </div>
        <div class="col-md-3">
          <h5 class="education-agenda-title">Information Security</h5>
          <div class="education-circle">
            <span class="helper"></span>
            <img src="/images/locked.png"/ class="education-icon">
          </div>
          <p class="education-description" style="margin-top:18px;">Penetration Testing</p>
          <p class="education-description">Data Protection</p>
          <p class="education-description">Defensive Programming</p>
        </div>
        <div class="col-md-3">
          <h5 class="education-agenda-title">Artificial Intelligence</h5>
          <div class="education-circle">
            <span class="helper"></span>
            <img src="/images/robot.png"/ class="education-icon">
          </div>
          <p class="education-description" style="margin-top:18px;">Data Science</p>
          <p class="education-description">Machine Learning</p>
          <p class="education-description">Evolutionary Computation</p>
        </div>
      </div>
    </div>
    <div class="container-fluid portfolio-container">
      <h2 class="section-header" style="color:black;">Mega Project</h2>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/exploding_sun.png"/ class="main-project-image">
          <h1 class="main-project-title">Diffuze</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/exploding_sun.png"/ class="main-project-image">
        </div>
        <div class="col-md-6">
          <img src="/images/exploding_sun.png"/ class="main-project-image">
        </div>
      </div>
    </div>
  </body>
</html>
