html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p { word-break: break-all }

a { color: white !important;}

@font-face {
    font-family: 'space_age'; /*a name to be used later*/
    src: url("../fonts/space_age.ttf")
}

#decrement, #increment {
  cursor: pointer;
}

.header-container {
  height: 350px;
  background-image: url('../images/shiny-apple.jpg');
  background-size: cover;
  background-opacity: 0.50;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 !important;
}

.header-container > .overlay {
  width: 100%;
  height: 350px;
  position: absolute;
  background-color: #000;
  opacity: 0.25;
}

.blast-container {
  padding: 30px 10% !important;
}

.header-full-name {
  font-family: "space_age";
  color: white;
  font-size: 48px;
  text-align: center;
  margin-top: 140px;
}

.occupation-name {
  font-family: "Ubuntu";
  color: white;
  text-align: center;
  margin-top: 50px;
}

.blast-title {
  font-family: 'Ubuntu';
  font-size: 30px;
  font-weight: bolder;
  margin-top: 0px !important;
  text-align: center;
}

.tri-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 30px auto;
}

.blast-subtitle {
  font-family: 'Ubuntu', cursive;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.btn-explore, .btn-explore:focus, .btn-explore:active {
  border: none;
  font-weight: bolder;
  background-color: white;
  margin-top: 30px;
  width: 100px;
}

.education-agenda-container {
  background-color: black;
  padding: 30px 0;
}

.explore-btn-div {
  text-align: center;
}

.education-agenda-title {
  text-align: center;
  color: white;
  font-family: 'Ubuntu', cursive;
  font-size: 24px;
  margin-top: 30px;
}

.education-circle {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
}

.education-description {
  text-align: center;
  color: white;
  font-family: 'Ubuntu', cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.section-header {
  text-align: center;
  color: white;
  font-family: "Ubuntu";
}

.portfolio-container, .contact-us-container {
  padding: 20px 0 20px 0 !important;
  margin: 0px 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.education-icon {
  width: 63px;
  height: 63px;
  display: inline-block;
  vertical-align: middle;
}

.main-project-image {
  height: 180px;
  width: 180px;
  display: block;
  margin: 30px auto 0 auto;
}

.ma-and-pa-main-image {
  height: 150px;
  width: 100px;
  display: inline-block;
  margin: 0px auto 30px auto;
}

.main-image {
  height: 120px;
  width: 120px;
  display: inline-block;
  margin: 30px auto 30px auto;
}

.navigator {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.arrows {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 30px auto 30px auto;
}

.moments-main-image {
  height: 120px;
  width: 120px;
  border-radius: 9px;
  display: inline-block;
  margin: 30px auto 30px auto;
}

#space {
  position: relative;
    bottom: 50px;
}

.general-icon {
  width: 45px;
  height: 45px;
  margin: 0 20px;
}

/*.float-right {*/
  /*float: right;*/
/*}*/

/*.float-left {*/
  /*float: left;*/
/*}*/

.app-img {
  height: 500.25px;
  width: 281.25px;
  display: block;
  margin: 30px auto 0 auto;
  border: solid black 1px;
}

.sub-contact-text {
  color: white;
  text-align: center;
  font-family: 'Ubuntu', cursive;
}

.main-project-title {
  text-align: center;
  font-family: 'Ubuntu', cursive;
}

.main-project-description {
  text-align: center;
  margin: 30px 20%;
  font-family: 'Ubuntu', cursive;
}

.blast-description {
  text-align: center;
  margin: 30px 0;
  font-family: 'Ubuntu', cursive;
  font-size: 20px;
  line-height: 30px;
}

.portfolio-header {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 900;
  margin: 100px 0 !important;
}

.source-code-btn {
  text-align: center;
  margin: 10px -50px;
  position: relative;
  top: 50%;
  left: 50%;
}

.project-button {
  height: 100px;
  width: 100px;
}

.appstore-button {
  display: block;
  margin: auto;
}

.appstore-img {
  height: 60px;
  width: 200px;
}

.tech-agenda-link:hover,.tech-agenda-link:visited,.tech-agenda-link:active,.tech-agenda-link:focus {
  text-decoration: none;
}

.tech-agenda-col {
  margin: 90px auto;
}

.contact-us-container {
  background-color: black;
  opacity: 0.95;
  padding: 30px 0 90px 0;
  margin: 0 !important;
}

.contact-us-name {
  color: white;
  font-family: 'Ubuntu', cursive;
  text-align: center;
  margin: 50px 0;
}

.contact-icon,.contact-icon:hover,.contact-icon:visited,.contact-icon:active,.contact-icon:focus {
  width: 24px;
  height: 24px;
  margin: 3px 6px 3px 0;
  color: white;
  text-decoration: none;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 45px auto;
}

.social-link {
  text-align: center;
  margin: 30px auto;
}

.copyright-text {
  text-align: center;
  color: white;
  opacity: 0.5;
}

#email-text {
    font-size: 20px;
}

#profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 75px;
    left: 50%;
  margin-left: -72.5px;
  border: solid black 3px;
  background-color: black;
}

.blast-title {
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}

.logo-center {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.left-arrow {
  margin-right: 50px;
}

.right-arrow {
  margin-left: 50px;
}

#email-text {
  font-size: 24px;
}

.wrench-gold {
  width: 60px;
  height: 60px;
}

.dark {
  background-color: #1F1F1F;
}

.blast-sub {
  text-align: center;
}

.services-container {
  margin: 30px 0 !important;
}

.white {
  color: white !important;
}

li a {
  font-family: 'Ubuntu';
}

@media only screen and (min-width: 50px) and (max-width: 991px) {
  .float-left, float-right {
    float: none;
  }
}

