pre {
    tab-size: 8;
}

.nav {
  position: relative;
    top: 50px;
}

.side-collapse-container{
    width:100%;
    position:relative;
    left:0;
    transition:left .4s;
}

.side-collapse-container.out{
    left:200px;
}

.side-collapse {
    top:0;
    bottom:0;
    left:0;
    width:200px;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
}

.side-collapse.in {
    width:0;
}

.icon-bar {
  background-color: white;
}

.hamburger {
  display: block;
  position: fixed;
    left: 10px;
}

.nav-links {
  display: block !important;
  width: 200px;
}

.navbar-fixed-left {
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 200px;
}

.navbar-fixed-left + .container {
    padding-left: 200px;
}

.container {
    margin: 0 !important;
    padding: 0;
    width: 100%;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 200px;
}